<header class="header-page">
  <div class="container">
    <nav class="header-page-navigation">
      <a class="header-page-logo" href=".index.html">yachtjet</a>
      <ul class="header-page-nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link current" href="About">About</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="Yachts">Yachts</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="Reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="header-page-social-list">
      <li class="social-list-item">
        <a class="social-link" href="https://www.facebook.com/" target="_blank"
          >f</a
        >
      </li>
      <li class="social-list-item">
        <a class="social-link" href="https://www.youtube.com/" target="_blank"
          >y</a
        >
      </li>
      <li class="social-list-item">
        <a class="social-link" href="https://www.instagram.com/" target="_blank"
          >instagram</a
        >
      </li>
    </ul>
  </div>
</header>
